#card{
    align-items: center;
    justify-content: center;
    height: 100%;
}

#cardbody{
    text-align: center;
    width : 80%;
}


#cardrow{
    height: 100%;
}

#message{
    color: red;
    font-size:medium;
}
.color-lump{
    width: 1500px;
    height: 80px;
  
    background: -webkit-linear-gradient(left,#FD267D,#FF7854);
    background: -o-linear-gradient(right,#FD267D,#FF7854);
    background: -moz-linear-gradient(right,#FD267D,#FF7854);
    background: linear-gradient(to right,#FD267D,#FF7854);
}

